#btn1{
    float: left;
    margin-left: 23%;
    border-style: groove;
    border-top-width: 5px;
    border-left-width: 5px;
    border-color: black;
    border-top-left-radius: 900px;
    outline:none;
}
#btn2{
    float: left;
    border-style: groove;
    border-top-width: 5px;
    border-right-width: 5px;
    border-color: black;
    border-top-right-radius: 900px;
    outline:none;
}
#btn3{
    float: left;
    margin-left: 23%;
    border-style: groove;
    border-bottom-width: 5px;
    border-left-width: 5px;
    border-color: black;
    border-bottom-left-radius: 900px;
    outline:none;
}
#btn4{
    float: left;
    border-style: groove;
    border-bottom-width: 5px;
    border-right-width: 5px;
    border-color: black;
    border-bottom-right-radius: 900px;
    outline:none;
}



#rsNome,#rsPontos,#rsRaking{
    font-size: 32px;
    font-style: unset;
}

#rsdivRanking{
    font-size:18px;
}